#app {
    width: 100%;
}
.clr-button{
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 0;
}
.clt-text{
    color: #FF416C !important;
}
INPUT {
    background: #3d4145 !important;
}

.search {
    position: absolute !important;
    max-height: 200px;
    max-width: 350px;
    overflow: auto;
}
.spinner-border{
    width: 35px !important;
    height: 35px !important;
}